body{
    margin: 0px;
    padding: 0px;
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.navigate{
    background-color: orangered;
    border-radius: 33px;
    height: 40px;
    width: 1380px;
    position: relative;
    left: 117px;
    top: -45px;
}
.navigate ul{
    list-style: none;
}

.navigate ul a{
    text-decoration: none;
    color: white;
}
.navigate ul a:hover{
    color: #410000;
}
.buttonleft{
    float: left;
    margin: 10px 25px;
    margin-top: 3px;
    font-size: 21px;
    font-family: cursive;

}
.navigate ul a.active{
    text-decoration: underline;
    color: #410000;
}
#logo{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 11px;
}

#logo img{
    height: 72px;
    width: 127px;
    border-radius: 148px;
}